* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/8849340/pexels-photo-8849340.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
  background-attachment: fixed;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  background-color: rgba(18, 33, 74, 0.9);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #3498db;
}

.nav a.active {
  background-color: #2980b9;
  font-weight: bold;
}

.nav button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.vote-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.vote-card {
  width: 300px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #fff;
}

.vote-card img {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.vote-card button {
  background-color: #3498db;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  background-color: rgba(16, 10, 70, 0.9);
  color: #ecf0f1;
  text-align: center;
  padding: 1rem;
}

.login, .register {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.login input, .register input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login button, .register button {
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.isAdmin input {
  margin-right: 0.5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(47, 58, 204);
}

.statistics {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  height: 90%;
  padding: 2rem;
  width: 70%;
  gap: 15%;
}

.error-message {
  color: #e74c3c;
  background-color: rgba(231, 76, 60, 0.1);
  padding: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}

.votes-count {
  background-color: rgba(106, 190, 224, 0.9);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 10px;
}

.you-didnt-voted {
  background-color: rgba(224, 106, 106, 0.9);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 10px;
}

.you-voted {
  background-color: rgba(117, 235, 87, 0.9);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 10px;
}